.mob-menu {
 position: fixed;
 top: 0;
 background-color: #ffffff;
 width: 100vw;
 height: 100vh;
}

.menu-close {}

.button {}

.modal-close {}

.bob-menu-nav {}

.bob-menu-nav__list {}

.bob-menu-nav__item {}

.navigation__link {}

.bottom__active {}

.mob-menu-cont {}

.connect__mail {}

.connect__tel {}

.mob-soc-list {}

.mob-soc-item {}

.mob-soc-link {}